---
- name: Test installation of test build rpms in a container
  containers.podman.podman_container:
    name: "centos{{ os_vers }}s"
    image: "quay.io/centos/centos:stream{{ os_vers }}"
    command: /tmp/files/rpm-install.sh
    detach: false
    rm: true
    volume:
      - "{{ role_path }}/files/:/tmp/files/:z"
      - "{{ rpms_dir }}:/tmp/testbuild/:z"
    env:
      OS_VERS: "{{ os_vers }}"
      SAMBA_VERS: "{{ samba_major_version }}"
      CEPH_RELEASE_RPM_BASE_URL: "{{ lookup('vars', 'ceph_repo_base_url') }}"
